<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="2" verbose="1" name="testngtest" annotations="JDK" parallel="tests">
<listeners>
<listener  class-name="com.learnautomation.utility.ExtentReporterNG"/>
</listeners>

	
	<test name="MultiBrowser">

		<packages>
		
			<package name="com.learnautomation.testcases.*" />

		</packages>
	</test>

</suite>